[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProSportsDraftData"]
	path = ProSportsDraftData
	url = https://github.com/ginsburg1/prosportsdraftdata
